@{
    ViewData["Title"] = "Home Page";
}

<title>Welcome</title>

<body>
    <div class="text-center">
        <div class="text-center" style="padding: 20px;">
            <h1 class="display-4" style="color:black; font-family: 'Algerian';">Welcome</h1>
            <h1 class="display-4" style="color:black; font-family: 'Algerian';">To the world's largest Boot Room!</h1>
        </div>
        <img src="~/images/boot7.jpg" height="500" width="600" style="display: inline; float: unset;" />
    </div>
</body>
>